$primaryColor: #2e2b2b !important;
$lightPrimaryColor: hsl(0, 3%, 27%) !important;
$secondaryColor: #ecedee;
$lightColor: #fff;
$backgroundImg: #E0E1E2;
$componentsWidth: 1000px;
$global-fontSize: 1.1rem;

$boxShadow: 0px 2px 3px 0px rgba(0,0,0,0.4);
$webkit-boxShadow: 0px 2px 3px 0px rgba(0,0,0,0.4);
$cardShadow: 0px 3px 5px 0px rgba(0,0,0,0.4);

$gitButton: #2DA44E;
$gitButtonHover: #2C974B;

