@use 'reset';
@use 'vars';

// GLOBALS
html {
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
}
html::-webkit-scrollbar {
  width: 0px; /* For Chrome, Safari, and Opera */
}

body {
  font-family: sans-serif;
  background-color: vars.$secondaryColor !important;
}

.app {
  max-width: 1100px;
  height: 100vh !important;
  margin: 0 auto;
}

// HEADER & SEARCHBAR
.sitename {
  font-size: 1.3rem;
  margin: 0;
}
.search-header {
  width: vars.$componentsWidth;
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin: 0 auto;

  &__title {
    width: fit-content;
    display: flex;
    align-items: center;
    margin: 0 auto;
  }

  // github
  &__btn {
    border: none;
  }
  &__logo {
    width: 170px;
    // margin: 1em 0;
  }

  &__form {
    width: vars.$componentsWidth;
    height: auto;
    border-radius: 3px;
    margin: 0 auto 1em !important;
    background-color: vars.$lightColor;
    box-shadow: vars.$boxShadow;
    -webkit-box-shadow: vars.$webkit-boxShadow;

    // input & search icon
    .ui.input {
      width: 100%;
      padding: 1em 1.5em;
      font-size: vars.$global-fontSize;

      &.focus>input {
        padding-left: 3em;
      }

      &.input>i.icon {
        left: 30px;
      }
    }
  }
}

.tags {
  display: flex;
  justify-content: space-between;
  padding: 0 1.5em .5em 1.5em;
  margin: 0 auto;

  &__button {
    width: 5%;
  }

  &__items {
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  &__item {
    height: 25px;
    margin: .3rem;
  }
}

.tagsToggler {
  width: fit-content;
  height: 25px;
  margin-top: .3rem;
}

@media screen and (max-width: 500px) {
  .tags {
    margin-top: 1rem;
    padding: 0 .5em .5em;

    &__button {
      width: 12%;
    }

    &__items {
      justify-content: flex-start;
      width: 90%;
    }

    &__item {
      font-size: .8rem;
    }
  }
}



@media screen and (max-width: 500px) {
  .search-header__form .ui.input {
    padding: 0;
    border: none;

    &>input {
      padding: .3em .5em;
    }
    &.input>i.icon {
      left: 0;
    }
  }
  .search-header {
    // margin: 1rem auto;
    padding: 1rem 0;
    &__logo {
      width: 110px;
    }
  }
  .sitename{
    font-size: .9em;
  }
  .ui.menu {
    height: 30px !important;
    width: fit-content;
    margin: 0 !important;
    &.item {
      padding: 0 !important;
    }
  }
}

.messages {
  width: vars.$componentsWidth;
  margin: 0 auto;
  padding: 1em 1.5em;
  font-size: vars.$global-fontSize;
  border-radius: 3px;
  background-color: vars.$lightColor;
  box-shadow: vars.$boxShadow;
  -webkit-box-shadow: vars.$webkit-boxShadow;

  &__error {
    color: rgb(241, 58, 12);
  }
}

.message {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &>p {
    margin: 0;
  }
}

.nav {
  // width: vars.$componentsWidth / 2;
  width: fit-content;
  margin: 1em auto !important;
  box-shadow: vars.$boxShadow !important;
  -webkit-box-shadow: vars.$webkit-boxShadow !important;

  &-link {
    background-color: vars.$lightColor;

    .active {
      background: rgba(0,0,0,.05);
    }
  }
}

.ui.menu {
  height: 30px !important;
  &.item {
    padding: 0 !important;
  }
}

@media screen and (max-width: 500px) {
  .search-header, .search-header__form, .messages {
    width: 90%;
  }
  .search-header {
    display: flex;
    justify-content: space-between;
    &__title {
      margin: 0;
    }
  }
  .nav {
    width: 100%;
    margin: 0 0 1rem !important;
  }
  .item {
    padding: 0 .5em !important;
  }
  .messages {
    font-size: 1em;
    padding: .3em .5em;
  }
  .message {
    &>p:first-child {
      width: 69%;
    }
  }

}

.repos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: vars.$componentsWidth;
  height: 470px;
  margin: 3em auto 0;
  padding: .5em 1em;
  border-radius: 10px;
  overflow-y: scroll;

  &__footer {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;

    &-index {
      position: absolute;
      right: 0;
      font-size: vars.$global-fontSize;
    }
  }
}

@media screen and (max-width: 500px) {
  .repos {
    width: 100%;
    height: 440px;
    justify-content: center;

    &__footer {
      flex-direction: column;
      margin-top: 1rem;

      &-index {
        left: 0;
        top: -30px;
        text-align: center;
      }
    }
  }
}

.repo {
  width: 290px;
  height: 450px;
  margin: 0 0 3em 0 !important;
  background: vars.$backgroundImg !important;
  transition: box-shadow 250ms !important;

  .image {
    width: 70%;
    height: auto;
    margin: 0 auto !important;
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: vars.$lightColor !important;
  }

  &__description {
    margin-top: .3rem !important;
    text-overflow: ellipsis !important;
    word-wrap: break-word !important;
    max-height: 100px !important;
    overflow-y: scroll;
  }

  .repo__links {
    width: 60%;
    display: flex;
    justify-content: space-around;

    &-item {
      font-size: .9em !important;
    }
  }

  &:hover {
    box-shadow: vars.$cardShadow !important;
  }
}

.faq {
  width: vars.$componentsWidth;
  height: 622px;
  margin: 1em auto;


  &__block {
    margin-bottom: 1rem;
  }

  &__title {
    font-size: 2.5rem;
    font-weight: bold;
    margin: 1rem 0;
  }

  &__question {
    font-size: 1.7rem;
    font-weight: bold;
    margin-bottom: .5rem;
  }

  &__anwser {
    font-size: vars.$global-fontSize;
  }
}

@media screen and (max-width: 500px) {
  .faq {
    width: 100%;
    height: 80%;
    padding: 1rem 3rem;
    margin: auto 0 !important;

    &__title {
      font-size: 1.5rem;
    }
    &__question {
      font-size: 1.3rem;
    }
  }
}

.ui.centered.inline.loader.active {
  margin: 2rem auto !important;
  padding: 2rem !important;
}

// buttons & links
.button {
  background-color: vars.$primaryColor;
  color: vars.$lightColor;
  padding: .3em .7em;
  border-radius: 7px;
  cursor: pointer;
  border: none;
  transition: background-color 200ms ease !important;
  &:hover {
    background-color: vars.$lightPrimaryColor;
    color: vars.$lightColor;
  }

  &.tagsToggler {
    border: 1px solid vars.$primaryColor;
    background-color: vars.$lightColor !important;
    color: vars.$primaryColor;
    transition:  background-color 200ms ease !important;
    &:hover {
      background-color: vars.$secondaryColor !important;
    }
  }

  &--main {
    margin: 0 auto 1rem;
    background-color: vars.$primaryColor;
    color: vars.$lightColor;
    padding: .5em 1em;
    border-radius: 7px;
    font-size: vars.$global-fontSize;
    border: none;
    transition: background-color 200ms ease !important;
    &:hover {
      background-color: vars.$lightPrimaryColor;
      color: vars.$lightColor;
    }
  }

  &--github {
    background-color: vars.$gitButton;
    color: vars.$lightColor;
    padding: .3em .7em;
    border-radius: 7px;
    transition: background-color 200ms ease !important;
    &:hover {
      background-color: vars.$gitButtonHover;
      color: vars.$lightColor;
    }
  }
}
